# Ignore everything
/*

# Allow only backend and react-web
!backend/
!react-web/
!README.md
!screenshots/

# Inside allowed folders, ignore node_modules and env
backend/node_modules/
backend/.env
react-web/node_modules/
react-web/.env

# Ignore everything else that slipped through
disregard/
address_app/
